{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "MONGODB_URI": "mongodb+srv://mbroadfo_db_user:<PASSWORD>@overland-finder-cluster.tfehxpn.mongodb.net/?appName=overland-finder-cluster",
    "SMTP_USERNAME": "your-gmail@gmail.com",
    "SMTP_PASSWORD": "xxxx-xxxx-xxxx-xxxx",
    "SMS_RECIPIENT": "7208399656@vtext.com"
  }
}
